*{
    background-color: rgb(245, 255, 245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    text-align: center;
    margin-bottom:50px;
}
.top{
    color:#03DAC5;
    font-size: large;
    font-weight: bolder;
}
.heading{

    font-size: 50px;
}
.main{

    display: flex;
    flex-direction: column;
    width:80%;
    left:9%;
    justify-content:space-between;
    position: relative;

}
.body{
    display: flex;
   
}
.lr{
    
    display: flex;
    flex-direction: column;
    width:50%;
    height: 300px;
    justify-content: space-evenly;
}
.lower{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}
.btn{
    display: flex;
    justify-content: center;
}
input,select{
    margin-top:30px;
    border:none;
    width:90%;
    border-bottom:1px solid grey;
}
input:focus,select:focus{
    padding:8px;
    outline: none;
    font-size: medium;
}
option{
    background-color: white;
}
.inputError{
    display: none;
    color:red;
 
}


button{
    padding:10px 20px 10px 20px;
    color:#020827;
    border:none;
    border-radius:10px;
    font-weight: 600;
    font-size: large;
    font-family: Plus Jakarta Sans;
    background-color:#03DAC5;
}

@media screen and (max-width:760px){
    .top{
        font-size: small;
    }
    .heading{
        font-size: 40px;
    }
    .body{
        flex-direction: column;
    }
    .lr{
        width:100%;
    }
}